body {
  font-family: cursive, monospace;
  margin: 15;
  padding: 4;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s;
 
}

header {
  background-color: #00eeff; 
  color: #fff;
  text-align: center;
  font-size: 200;
  padding: 30px 40px;
  border: 1px solid #e0e0e0; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px; 
  height: 150px;
  align-items: center;
  padding-top: 75px;
}

header.dark-mode h1{
  background-color: #ff8800; 
  color: #000000;
  text-align: center;
  font-size: 200;
  padding: 30px 40px;
  border: 1px solid #e0e0e0; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgb(255, 255, 255, 0.1);
  margin: 20px; 
  height: 150px;
  align-items: center;
  padding-top: 75px;
} 
/*#header.dark-mode h1 {
  color: #000;
  background-color: #ffa200;
} */

.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

#entryText {
  flex: 1; /* Takes up remaining space */
  min-height: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: left;
  
}
#newTextBox {
  font-size: 25px;
  font-family: zen-kaku-gothic-new, cursive;;
  font-style: italic;
  font-variant-emoji: discretionary-casual;
}

#imageContainer {
  margin-left: 20px; /* Space between text box and image */
}

#selectedImage {
  max-width: 200px; /* Set a maximum width for the image */
  max-height: 200px; /* Set a maximum height for the image */
  display: block;
  margin-top: 10px;
}
 /* nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;

*/

 section.dark-mode {
   text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #242a3c;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.1);
   padding-left: 100px;
} 
 section {
   text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding-left: 100px;
} 
  /*General styles for the clickable section */
.clickable-section {
    text-decoration: none;  /*Remove underline from link */
    color: inherit; /* Inherit text color */
} 
#Entry:hover {
  color: #00eeff;
  text-decoration: underline;
}
#challenges:hover {
  color: #00eeff;
  text-decoration:underline;
}
#reflectionExercises:hover {
  color: #00eeff;
  text-decoration:underline;
}
#entries:hover {
  color: #00eeff;
  text-decoration:underline;
}
#prompt:hover {
  color: #00eeff;
  text-decoration:underline;
}
#achievements:hover {
  color: #00eeff;
  text-decoration:underline;
}

textarea {
  width: 75%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #292929;
  border: none;
  
}

button:hover {
  background-color: #00eeff;
}
#imageUpload {
  display: none; /* Hide the default file input */
}
#uploadButton {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #292929;
  border: none;
}
/* Dark mode styles */
body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

#ReflectionExercises {
  text-align: right;
  background-color: #ee9417;
 width: 300px;
  height: 350px;
  align-items: right;
  margin-left: 880px;
  
  
}
#ReflectionExercises2 {
  text-align: left;
   background-color: #c2004e;
   width: 300px;
    height: 400px;
   
   /* margin-right: 880px;*/
}
#ReflectionExercises3 {
  text-align: right;
   background-color: #7f8c8d;
   width: 300px;
    height: 200px;
    align-items: right;
    margin-left: 880px;
}
.color-box {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0; /* Initial color */
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
#uploadButton:hover {
  background-color: #00eeff;
